# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
footyguess.db
players-output.json
players.json
all_players.json
output/
public/

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
