# Nuxt dev/build outputs
.output
.data
.nuxt
.llm
issues.md
.nitro
.cache
dist
public/assets
all_players.json
unminified.js
error.txt

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
